          <!--2nd column-->
          <!--  data-spy="affix" data-offset-top="250"-->
<div id="midCol">
            
            <hr>
            
          	<img src="//placehold.it/260x150/449955/FFF">
            <p class="caption">Advertisement <span class="pull-right"><i class="icon-twitter"></i></span></p>  
            
            <hr>
            
            <img src="//placehold.it/260x150/2255EE/EEE">
            <p class="caption">Advertisement</p>  
            
            <hr>
            
            <img src="//placehold.it/260x150/992233">
            <p class="caption">Advertisement</p>  
            
            <hr>
            
</div><!--/middleCol-->
            
