<div class="carousel slide" id="myCarousel">
          <div class="carousel-inner">
                <div class="item active">
                  	<div class="row">
                	  <div class="col-md-3"><a href="#" data-ng-click="openCarouselModal($event)" class="thumbnail" data-toggle="modal"><img src="http://placehold.it/350x150" alt="Image" style="max-width:100%; margin:0"></a></div>
                	  <div class="col-md-3"><a href="#" data-ng-click="openCarouselModal($event)" class="thumbnail" data-toggle="modal"><img src="http://placehold.it/350x150" alt="Image" style="max-width:100%; margin:0"></a></div>
                	  <div class="col-md-3"><a href="#" data-ng-click="openCarouselModal($event)" class="thumbnail" data-toggle="modal"><img src="http://placehold.it/350x150" alt="Image" style="max-width:100%; margin:0"></a></div>
            		</div><!--.row-->
                </div>
                <div class="item">
                  	<div class="row">
                	  <div class="col-md-3"><a href="#" data-ng-click="openCarouselModal($event)" class="thumbnail" data-toggle="modal"><img src="http://placehold.it/350x150" alt="Image" style="max-width:100%; margin:0"></a></div>
                	  <div class="col-md-3"><a href="#" data-ng-click="openCarouselModal($event)" class="thumbnail" data-toggle="modal"><img src="http://placehold.it/350x150" alt="Image" style="max-width:100%; margin:0"></a></div>
                	  <div class="col-md-3"><a href="#" data-ng-click="openCarouselModal($event)" class="thumbnail" data-toggle="modal"><img src="http://placehold.it/350x150" alt="Image" style="max-width:100%; margin:0"></a></div>
            		</div><!--.row-->
                </div>
                <div class="item">
                  	 <div class="row">
                	  <div class="col-md-3"><a href="#" data-ng-click="openCarouselModal($event)" class="thumbnail" data-toggle="modal"><img src="http://placehold.it/350x150" alt="Image" style="max-width:100%; margin:0"></a></div>
                	  <div class="col-md-3"><a href="#" data-ng-click="openCarouselModal($event)" class="thumbnail" data-toggle="modal"><img src="http://placehold.it/350x150" alt="Image" style="max-width:100%; margin:0"></a></div>
                	  <div class="col-md-3"><a href="#" data-ng-click="openCarouselModal($event)" class="thumbnail" data-toggle="modal"><img src="http://placehold.it/350x150" alt="Image" style="max-width:100%; margin:0"></a></div>
            		</div><!--.row-->
                </div>
          </div>
          <span class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</span>
          <span class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</span>
          
          
          <!-- Modal -->
		<div id="carouselmodal" class="modal">
			<div class="modal-dialog">
		         	<div  class="modal-content">
						  <div class="modal-body">
						    <div id="m-carousel" class="carousel slide" style="padding:0">
								  <!-- Carousel items -->
								  <div class="carousel-inner">
								    <div class="item active">
								        <img src="http://placehold.it/600x400" alt="..." style="max-width:100%;">
								    </div>
								    <div class="item">
								        <img src="http://placehold.it/600x400" alt="..." style="max-width:100%;">
								    </div>
								    <div class="item">
								        <img src="http://placehold.it/600x400" alt="..." style="max-width:100%;">
								    </div>
								  </div>
							  <!-- Carousel nav -->
							  <span class="carousel-control left" href="#m-carousel" data-slide="prev" style="margin-top:145px">&lsaquo;</span>
							  <span class="carousel-control right" href="#m-carousel" data-slide="next" style="margin-top:145px">&rsaquo;</span>
							</div>
						  </div>
						  <div class="modal-footer" style="margin-top:0; padding:10px 20px 10px 10px">
						    <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Close</button>
						  </div>
					</div>
			</div>
		</div>
		 
          
</div>

