<div ng-include src="'resources/html/partials/common/search-jumbo.html'"></div>

<!--Search by city div-->
		
	<div class="dark-strip-full-width col-sm-12 col-md-12 col-lg-12">
		 <div class="container">
		    <div class="row">
		      <h3 class="inverted-text text-center">Browse by City</h3>
		
		      <div class="invert-colors-home">
		        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
		          <div>
		            <a href="http://www.greatschools.org/new-york/albany/">New Delhi</a>
		          </div>
		          <div>
		            <a href="http://www.greatschools.org/texas/austin/">Noida</a>
		          </div>
		          <div>
		            <a href="http://www.greatschools.org/maryland/baltimore/">Gurgaon</a>
		          </div>
		          <div>
		            <a href="http://www.greatschools.org/massachusetts/boston/">Faridabad</a>
		          </div>
		        </div>
		        
		        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
		          <div>
		            <a href="http://www.greatschools.org/colorado/denver/">Mumbai</a>
		          </div>
		          <div>
		            <a href="http://www.greatschools.org/illinois/elmhurst/">Pune</a>
		          </div>
		          <div>
		            <a href="http://www.greatschools.org/california/irvine/">Indore</a>
		          </div>
		          <div>
		            <a href="http://www.greatschools.org/florida/miami/">Ahmedabad</a>
		          </div>
		         
		        </div>
		        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
		          <div>
		            <a href="http://www.greatschools.org/california/oakland/">Bangalore</a>
		          </div>
		          <div>
		            <a href="http://www.greatschools.org/pennsylvania/philadelphia/">Hyderabad</a>
		          </div>
		          <div>
		            <a href="http://www.greatschools.org/arizona/phoenix/">Chennai</a>
		          </div>
		          <div>
		            <a href="http://www.greatschools.org/texas/richardson/">Coimbatore</a>
		          </div>
		        </div>
		        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
		          <div>
		            <a href="http://www.greatschools.org/california/san-diego/">Kolkata</a>
		          </div>
		          <div>
		            <a href="http://www.greatschools.org/california/san-francisco/">Lucknow</a>
		          </div>
		          <div>
		            <a href="http://www.greatschools.org/washington/seattle/">Guwahati</a>
		          </div>
		          <div>
		            <a href="http://www.greatschools.org/missouri/st-louis/">Patna</a>
		          </div>
		        </div>
		      </div>
		      
		      </div>
		   </div>
		</div>
	</div>
	<!--END: Search by city div-->

<!- how to use section-->


    <div class="col-sm-12 col-md-12 col-lg-12 highlight inverted-text clearfix">
    <div class="container">
       <div class="row">
       	  <h3 class="inverted-text text-center">How it works</h3>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="text-center">
              <a href="/how-to-assess-a-school.topic?content=5068">
                <img ng-src="http://www.gscdn.org/assets/home/icon_families-6c76044d5bd660f93e90a96227b367d5.png" alt="Icon families">
                <h3 class="inverted-text center-text">For families</h3>
              </a>
              <span>Expert advice and tools to help you pick the right school.</span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="text-center">
              <a href="/official-school-profile/register.page">
                <img ng-src="http://www.gscdn.org/assets/home/icon_schools-c81937e9f94a3b167842793651370993.png" alt="Icon schools">
                <h3 class="inverted-text center-text">For schools</h3>
              </a>
              <span>Highlight your school's strengths to your community with a free official school profile. </span>
            </div>
          </div>          
        </div> 
        </div>   
    </div>


<!- END : how to use section-->


<!-- Page Content -->

