<div ng-controller="SchoolController" ng-init="init()">
	<div class="row school-header">
		<div class="container">
	    	 <div class="row">
	              	<div class="col-sm-2 logo">
					    <img ng-src="{{school.logo}}" class="img-responsive" style="margin-top:-5px"/>
	                </div>
	                <div class="col-sm-10">
	                		<form editable-form name="schoolEditForm" onaftersave="updateSchool(school)">
						   		<div class="col-md-6"> <i allow-access="ROLE_SCHOOL_ADMIN" class="fa fa-edit edit-icon pull-right" ng-click="schoolEditForm.$show()" ng-show="!schoolEditForm.$visible"></i>
						       		 <h3><strong>{{school.name}}, {{school.area}} </strong></h3>
						       		 <p>{{school.street}}, {{school.area}}, {{school.city}} ({{school.state}}) - {{school.pincode}}</p>
						 			 <p><strong>Contact : </strong><span editable-text="school.contactNo" e-name="contactNo" onbeforesave="" e-required>{{school.contactNo[0]}}, {{school.contactNo[1]  || 'empty' }}</span></p>
						  			 <p><strong>Email : </strong> <span editable-text="school.email" e-name="email" onbeforesave="" e-required>{{school.email || 'empty'}}</span></p>
						  			 <p><strong>Website: </strong> <span editable-text="school.website" e-name="website" onbeforesave="" e-required>{{school.website || 'empty'}}</span></p>
						  		</div>
						  		 <!-- buttons to submit / cancel form -->
							      <span ng-show="schoolEditForm.$visible">
							        <button type="submit" class="btn btn-primary" ng-disabled="schoolEditForm.$waiting">
							          Save
							        </button>
							        <button type="button" class="btn btn-default" ng-disabled="schoolEditForm.$waiting" ng-click="schoolEditForm.$cancel()">
							          Cancel
							        </button>
							      </span>
					  		</form>	 
					  		<div class="col-sm-3">
					  			 <div class="circle circle-solid">
									     <div class="circle-inner">
									         <div class="score-text">
									            {{school.totalRating}}
									          </div>
									     </div>
								  </div>
								  <p class="text-center"> {{school.board}} | {{school.schoolType}}</p>
								  <p class="text-center">
								  		<img ng-repeat="amenity in school.amenities | limitTo:5" ng-src="http://localhost:80/admission/resources/img/icons/png/{{amenity}}.png" title="{{amenity}}">
								  </p>						
							</div>
							<div class="col-sm-3">
								 <div class="rating text-center">
								 	 <rating ng-model="rate" max="max" readonly="isReadonly" data-ng-click="rateSchool(rate)" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
								 	 <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
								 </div> 	 
					  			 <button type="button" data-ng-click="scrollToReview()" class="btn btn-primary btn-outline col-sm-12"><i class="glyphicon glyphicon-comment pull-left"></i>Review School</button>
					  			 <button type="button" data-ng-click="followSchool()" ng-class="{'btn btn-success col-sm-12 disabled': following, 'btn btn-primary btn-outline col-sm-12': !following}" ng-bind-html="followBtnHtml"></button>
							</div>
				     </div>
	          </div>
	    </div>
	</div>
	
	<div class="container">
	    <div class="row">
	    	<div id="school-profile-nav" class="col-md-12">
				<tabset justified="true" type="pills" class="tab-animation">
				    <tab ng-repeat="tab in tabs" heading="{{ tab.heading | uppercase}}" active="tab.active">
				    	 <hr/>
				         <div ng-include="tab.template" style="margin:0px -15px"></div>
				    </tab>
				</tabset>
			</div>	
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-8">
					<hr/>
					<dir-disqus disqus-shortname="getnextschool"
					         disqus-identifier="{{disqus_id}}"
					         disqus-url="http://getmyschool.com/schools/profile/{{schoolId}}/">
					</dir-disqus>
			</div>
		</div>
	</div>
		
			
</div>