<div ng-controller="SchoolListController">
	<div class="row light-strip-full-width">
		<div class="container">
	    	 <div class="row">
	                <div class="col-sm-9 col-sm-offset-3">
					   		<div class="input-group">
							     <input type="text" id="sec-search" placeholder="Enter school name, city, address or pincode" class="form-control typeahead-search-box">
							     <span class="input-group-btn">
								     <button onclick="" type="button" class="btn btn-primary"><b>Search</b></button>
							     </span>
						    </div>
				    </div>
	          </div>
	    </div>
	</div>
	
	<div class="container">
		<div class="row">
	  		<div class="col-sm-3">
	          <!--sidebar-->
	          <div class="sidebar-nav-fixed">
	          		<!-- Filter by Area-->
	          		<div class="panel panel-default sidenav-filter">
	          		  <div class="panel-heading filter-heading">Area</div>
					  <div class="panel-body n-scroll" style="max-height: 180px; overflow-y: scroll; overflow-x: hidden; padding-top: 0;">
					     	<div ng-repeat="area in areas">
					            <div class="checkbox">
					            	<input id="chkbox-{{$index}}" type="checkbox" ng-model="useAreas[area]"/>
					            	<label for="chkbox-{{$index}}"> {{area}} ({{ (filteredSchools | filter:query | filter:count('area', area)).length }})</label>
					            </div> 	
					        </div>
					  </div>
					</div>
					
					<!-- Filter by Board-->
					<div class="panel panel-default sidenav-filter">
					  <div class="panel-heading filter-heading">Board</div>
					  <div class="panel-body n-scroll" style="max-height: 180px; overflow-y: scroll; overflow-x: hidden; padding-top: 0;">
					     	<div ng-repeat="board in boards">
					            <div class="checkbox">
					            	<input id="chkbox-{{$index}}" type="checkbox" ng-model="useBoards[board]"/> 
					            	<label for="chkbox-{{$index}}"> {{board}} ({{ (filteredSchools | filter:query | filter:count('board', board)).length }})</label>
					            </div>	
					        </div>
					  </div>
					</div>
					
					<!-- Filter by City-->
					<div class="panel panel-default sidenav-filter">
					  <div class="panel-heading filter-heading">City</div>
					  <div class="panel-body n-scroll" style="max-height: 180px; overflow-y: scroll; overflow-x: hidden; padding-top: 0;">
					     	<div ng-repeat="city in cities">
					            <div class="checkbox">
					            	<input id="chkbox-{{$index}}" type="checkbox" ng-model="useCities[city]"/> 
					            	<label for="chkbox-{{$index}}"> {{city}} ({{ (filteredSchools | filter:query | filter:count('city', city)).length }})</label>
					            </div>	
					        </div>
					  </div>
					</div>
					
					<!-- Filter by Grade Range-->
					<div class="panel panel-default sidenav-filter">
					  <div class="panel-heading filter-heading">Grade</div>
					  <div class="panel-body n-scroll" style="max-height: 180px; overflow-y: scroll; overflow-x: hidden; padding-top: 0;">
					     	<div ng-repeat="grade in gradeRange">
					            <div class="checkbox">
					            	<input id="chkbox-{{$index}}" type="checkbox" ng-model="useGradeRange[grade]"/> 
					            	<label for="chkbox-{{$index}}"> {{grade}} ({{ (filteredSchools | filter:query | filter:arrCount('gradeRange', grade)).length }})</label>
					            </div>	
					        </div>
					  </div>
					</div>
					
					<hr/>
					<h4><p><strong>Search schools near you</strong></p></h4>
					<div class="panel panel-default sidenav-filter">
					  <div class="panel-heading filter-heading">Distance</div>
					  <div class="panel-body n-scroll" style="padding:20px">
					     	<input ng-model="distance" type="text" id="distanceSlider" slider options="distanceSliderOptions" />
					  </div>
					</div>
					
					<!--<div ng-include src="'resources/html/partials/view/advertisement.html'"></div>-->
					
	          </div>
	      	</div>
	      	
	      	<div class="col-sm-9">
	      		<div class="school-filter-result">
	      			<h4><p>{{filteredSchools.length}} schools found</p></h4>
	      		</div>
	      		<div class="well listing" dir-paginate="school in filteredSchools | filter:query | itemsPerPage: 5">
	      			<div class="row">
	      				<div class="col-md-6">
				       		 <h4><a href="#{{school.profileUrl}}" ><strong>{{school.name}}, {{school.area}} </strong></a></h4>
				       		 <p class="small-text">{{school.street}}, {{school.area}}, {{school.city}} ({{school.state}})-{{school.pincode}}</p>
				 			 <p><strong>Contact : </strong>{{school.contactNo[0]}}, {{school.contactNo[1]}}</p>
				  			 <p><strong>Email : </strong> {{school.email}}</p>
				  			 <p><strong>Website: </strong>{{school.website}}</p>
				  		</div>	 
				  		<div class="col-sm-3">
				  			 <div class="circle circle-solid">
								     <div class="circle-inner">
								         <div class="score-text">
								            {{school.totalRating}}
								          </div>
								     </div>
							  </div>
							  <p class="text-center"> {{school.board}} | {{school.schoolType}}</p>
							  <p class="text-center">
							  		<img ng-repeat="amenity in school.amenities | limitTo:5" ng-src="http://localhost:80/admission/resources/img/icons/png/{{amenity}}.png" title="{{amenity}}">
							  </p>						
						</div>
						<div class="col-sm-3">
				  			 <button type="button" data-ng-click="reviewSchool($event, school)" class="btn btn-primary btn-outline col-sm-12"><i class="glyphicon glyphicon-comment pull-left"></i> Rate &amp; Review</button>
				  			 <button type="button" data-ng-click="followSchool($event, school)" ng-class="{'btn btn-success col-sm-12 disabled': school.following, 'btn btn-primary btn-outline col-sm-12': !school.following}"><i class="glyphicon glyphicon-heart pull-left"></i> Follow School</button>
						</div>
		  			 </div>
		        </div>
		        <div class="text-center">
	          		<dir-pagination-controls boundary-links="true" template-url="resources/html/partials/view/dirPagination.tpl.html"></dir-pagination-controls>
	          	</div>
		        
	      	</div>
	      	
		</div>
	</div>
	
	<div class="modal" id="locModal">
			<div class="modal-dialog">
			      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clearModalErrors()">x</button>
				          <h4 class="modal-title">Enter your address</h4>
				        </div>
				        <div class="modal-body" style="background-color: ghostwhite;">
				        	<input type="text" class="form-control typeahead-search-box" placeholder="Enter your address" ng-model="user.loc">			        	
				        </div>
				        <div class="clearfix"></div>
				        <div class="modal-footer" style="margin-top:0">
				            <button type="submit" class="btn btn-success" data-toggle="modal"  data-ng-click="saveUserLocation(user.loc)">Save</button>
				        </div>
			      </div>
		    </div>
	</div>
	
</div>	