<div class="container" ng-controller = "AdminController as adminCtrl" ng-init="adminCtrl.getUsers()">
		<div class="row">
			<div class="col-md-2" id="nav-col">
				<section id="col-left">
					<div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">	
						<ul class="nav nav-pills nav-stacked">
							<li>
								<a href="index.html">
									<i class="fa fa-dashboard"></i>
									<span>Dashboard</span>
								</a>
							</li>
							<li class="active">
								<a href="#" class="dropdown-toggle">
									<i class="fa fa-users"></i>
									<span>Users</span>
									<i class="fa fa-chevron-circle-down drop-icon"></i>
								</a>
								<ul class="submenu">
									<li>
										<a href="users.html" class="active">
											User list
										</a>
									</li>
									<li>
										<a href="user-profile.html">
											User profile
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<div class="col-md-10" id="content-wrapper">
					<div class="row" style="opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); margin-bottom:10px;">
						<div class="col-lg-12">
							<div class="clearfix">
								<div class="admin-head pull-left col-lg-2">Users</div>
								<div class="col-lg-8">
									<div id="custom-search-input">
					            		<div class="input-group col-lg-12">
					                    	<input type="text" class="form-control input-md" ng-model="searchText" placeholder="Search Users" />
					                    	<!--<span class="input-group-btn">
					                        <button class="btn btn-info btn-md" type="button">
					                            <i class="glyphicon glyphicon-search"></i>
					                        </button>
					                    	</span>-->
					                    
					                	</div>
					            	</div>
								</div>
								<div>
									<a href="#" class="btn btn-primary pull-right col-lg-2">
										<i class="fa fa-plus-circle fa-lg"></i> Add user
									</a>
								</div>
							</div>
						</div>
					</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="main-box clearfix">
									<div class="table-responsive">
										<table class="table user-list">
											<thead>
												<tr>
													<th><span>User</span></th>
													<th><span>Role</span></th>
													<th><span>Created</span></th>
													<th class="text-center"><span>Status</span></th>
													<th><span>Email</span></th>
													<th>&nbsp;</th>
												</tr>
											</thead>
											<tbody>
												<tr dir-paginate="user in adminCtrl.users | filter:searchText | itemsPerPage:5">
													<td>
														<!--<img src="img/samples/user-profile-1.png" alt="">-->
														<a href="#" class="user-link">{{user.firstName}}&nbsp;{{user.lastName}}</a>
													</td>
													<td>
														<span editable-select="user.role" e-name="role" e-form="rowform" e-ng-options="r.role for r in adminCtrl.roles">
												          {{ adminCtrl.showRole(user) }}
												        </span>
													
														<!--<div ng-repeat="role in user.roles">{{role}}</div>-->
													</td>
													<td>
														{{user.createdDate | date:'dd/MM/yyyy'}}
													</td>
													<td class="text-center">
														<span ng-class="{'label label-success': user.active, 'label label-default': !user.active}">{{adminCtrl.getStatus(user)}}</span>
													</td>
													<td>
														{{user.username}}
													</td>
													<td style="width: 20%;">
														<form editable-form name="rowform" onaftersave="adminCtrl.saveUser($data, user)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
													          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
													            save
													          </button>
													          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
													            cancel
													          </button>
												        </form>
												        <div class="buttons" ng-show="!rowform.$visible">
															<a href="" class="table-link">
																<span class="fa-stack">
																	<i class="fa fa-square fa-stack-2x"></i>
																	<i class="fa fa-pencil fa-stack-1x fa-inverse" ng-click="rowform.$show()"></i>
																</span>
															</a>
															<a href="" class="table-link danger">
																<span class="fa-stack">
											  						<i class="fa fa-square fa-stack-2x"></i>
																	<i class="fa fa-trash-o fa-stack-1x fa-inverse" ng-click="adminCtrl.removeUser($index)"></i>
																</span>
															</a>
														</div>	
													</td>
												</tr>
												
											</tbody>
										</table>
									</div>
									<div class="pull-right"><dir-pagination-controls boundary-links="true" template-url="resources/html/partials/view/dirPagination.tpl.html"></dir-pagination-controls></div>
								</div>
							</div>
						</div>
					
					
					</div>
				</div>
			</div>
		</div>
	</div>