<!DOCTYPE html>

<html ng-app="app">
	<head>
		<link rel="stylesheet" type="text/css" href="resources/css/bootstrap/bootstrap.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="resources/css/bootstrap/awesome-bootstrap-checkbox.css">
		<link rel="stylesheet" type="text/css" href="resources/css/bootstrap/ng-slider.min.css">
		<link rel="stylesheet" type="text/css" href="resources/css/bootstrap/prettyPhoto.css">
		<link rel="stylesheet" type="text/css" href="resources/css/custom/layout.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://cdn.muut.com/1/moot.css" />
		
        <script src="resources/js/jquery/jquery.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>        
		
		<script type="text/javascript" src="//platform.linkedin.com/in.js">
		    api_key:   78o6itnq8b6a3r
		</script>
		
	</head>
	<body ng-controller="MainController">
		
		<!-- Menu -->
        <div ng-include src="'resources/html/partials/common/menu.html'"></div>
        
         <!-- Error -->
        <div ng-include src="'resources/html/partials/common/error.html'"></div>
        
		<div id="content">
			<div ng-view></div>
		</div>
		
		<!-- Footer -->
        <div ng-include src="'resources/html/partials/common/footer.html'"></div>
        
        <script src="resources/js/jquery/jquery.bootstrap.newsbox.js"></script>
        <script src="resources/js/jquery/jquery.prettyPhoto.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
		<script src="https://code.angularjs.org/1.2.24/angular-animate.js"></script>
			
		<script src="resources/js/angular/angular-route.js"></script>
		<script src="resources/js/angular/dirPagination.js"></script>
		<script src="resources/js/angular/angular-scroll.min.js"></script>
		<script src="resources/js/angular/angular-youtube-embed.js"></script>
		<script src="resources/js/angular/angular-sanitize.js"></script>
		<script src="resources/js/angular/angular-disqus.js"></script>
		<script src="resources/js/angular/angular-facebook.js"></script>
		<script src="resources/js/angular/angular-google-plus.min.js"></script>
		<script src="resources/js/angular/angular-breadcrumb.js"></script>
		<script src="resources/js/angular/ng-slider.min.js"></script>
		<script src="resources/js/angular/ng-storage.js"></script>
		<script src="resources/js/angular/angular-geocode.js"></script>
		<script src="resources/js/angular/validator.min.js"></script>
		
		<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
		<script src="resources/js/angular/angular-google-maps-min.js"></script>
		
		<script src="resources/js/bootstrap/bootstrap.js"></script>
		<script src="resources/js/bootstrap/ui-bootstrap-custom-tpls-0.12.1.js"></script>
        <script src="resources/js/angular-xeditable/xeditable.js"></script>
        <script src="resources/js/angular-local-storage/angular-local-storage.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.js"></script>
		
		<script src="resources/js/custom/app.js"></script>
		<script src="resources/js/custom/constant.js"></script>
		<script src="resources/js/custom/config.js"></script>
		<script src="resources/js/custom/listener.js"></script>
        <script src="resources/js/custom/directive.js"></script>
		<script src="resources/js/custom/controller.js"></script>
		<script src="resources/js/custom/service.js"></script>
		<script src="resources/js/custom/menu.js"></script>
		<script src="//cdn.muut.com/1/moot.min.js"></script>
        
	</body>
	
</html>
