<div id="search-jumbo" class="jumbotron masthead" ng-controller="TypeaheadCtrl">
  <div class="container">
    <h1>Welcome to MySchool</h1>
    <p>One place to get all information about admissions and schools in your neighbourhood and... elsewhere.</p>
    
    	<div class="input-group col-md-6 col-md-offset-3">
		     <input type="text" ng-model="searchText" typeahead="movie for movie in getMovies($viewValue)" typeahead-loading="loadingMovies" class="form-control typeahead-search-box" placeholder="Enter school name, city, address or pincode" id="jb-search">
		     
		     <span class="input-group-btn">
			     <button class="btn btn-primary" type="button"  onclick=""><b>Search</b></button>
		     </span>
	    </div>
	    <i ng-show="loadingMovies" class="fa fa-circle-o-notch fa-spin light-blue" style="margin-top:10px;"></i>
    
  </div>
  
</div>